.itemCard {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1.5rem;
}

.cardDescription {
  font-size: 1rem;
}

.color1 {
  background: #FF6766 !important;
}

.color2 {
  background: #F9C20B !important;
}

.color3 {
  background: #ABCD52 !important;
}

.color4 {
  background: #1AB8FF !important;
}


.MuiDialogContent-root {
  overflow: hidden;
}
