.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
}

.imageContainer {
  margin-top: 30px;
}

.image {
  width: 400px; 
  height: auto;
}

.backButton {
  background: none;
  border: none;
  color: #2d9155;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  transition: opacity 0.3s ease-in-out;
}

.backButton:hover {
  text-decoration: underline;
}

.backButton svg {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .backButton {
    opacity: 0; 
    pointer-events: none; 
  }
}
