  body{
    background-image: url('../../../public/fundo.png');
}
  .btn button {
    text-decoration: none; 
  }
  .btn a {
    text-decoration: none;
  }
  
  .btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-decoration: none;

  }
  .logoContainer {
    top: 10; 
    left: 50%; 
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    top: -0px;
    margin-bottom: 20px;
  }
  
  .logoContainer img {
    max-width: 100%;
    height: auto; 
  }
