body{
    background-image: url('../../../public/fundo.png');
}
.btn button {
    text-decoration: none; /* Remove sublinhado */
  }
  .btn a {
    text-decoration: none; /* Remove sublinhado */
  }
  
.btn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-decoration: none;

  }

.Categorias {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    .TipoDePrato {
        text-align: center;

        img {
            max-width: 100%;
            overflow: hidden;
            border: 10px solid #eaf0ff;
            border-radius: 50%;
        }

        h4 {
            margin-top: 20px;
            font-size: 22px;
            color: #121212;
            font-weight: 600;
            margin-bottom: 0px;
        }
    }
}

