.Link {
    display: flex; /* Enable flexbox layout */
    text-align: center;
    justify-content: space-between; /* Distribute content horizontally */
    align-items: center; /* Align items vertically */
    background-color: black; /* Maintain background color */
    margin-top: 0;
    padding: 10px 0;

    @media (max-width: 768px) {
        .Link {
          flex-direction: column; 
          align-items: flex-start;
        }
      
        .Link ul li {
          margin: 10px 0;
        }
      }
      
      @media (max-width: 576px) {
        .Link ul li {
          margin: 5px 0; 
        }
      }
      
    
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 15px;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #fff; 
                transition: width 0.3s;
            }

            &:hover::after {
                width: 100%;
            }

            a {
                text-decoration: none;
                font-size: 1.2rem;
                color: white; 
                animation: fadeIn 2s ease-in-out;

                @keyframes fadeIn {
                    from { opacity: 0; }
                    to { opacity: 1; }
                  }

                &:visited {
                    color: #fff; 
                }
            }
        }
    }
}
