
  .item {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
  
    .title {
      margin-bottom: 10px;
      font-size: 1.5em;
      font-weight: bold;
    }
  
    p {
      margin: 5px 0;
      font-size: 1.1em;
    }
  
    strong {
      font-weight: bold;
    }
  }
  