.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: auto;
  width: 90vw;
  max-width: 500px;
  border-radius: 10px;
  background-color: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
  padding: 50px;

  @media (max-width: 768px) {
    padding: 20px;
    h1 {
      font-size: 24px;
    }
  }
}

.logoContainer {
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative; 
  top: -0px;
  margin-bottom: 20px;
}

.logoContainer img {
  max-width: 100%;
  height: auto; 
}

.Titulo{
  text-align: center;
  font-size: 30px;
}

.botao {
  text-decoration: none;
  background-color: #FF6766;
  color: #ededed;
  text-transform: uppercase;
  padding: 10px 170px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
  margin-top: 90px;
  transition: transform 0.2s ease-in-out;
}

.backButton {
  background: none;
  border: none;
  color: #2d9155;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  transition: opacity 0.3s ease-in-out;
}

.backButton:hover {
  text-decoration: underline;
}

.backButton svg {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .backButton {
    opacity: 0; 
    pointer-events: none; 
  }
}
