
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}
h1 {
    font-size: 24px;
    color: #2d2c2c;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .Input {
    background-color: #F0f0f0;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.InputErro {
    border-color: red; 
}

.InputSucesso {
    border-color: green; 
}
.MensagemErro {
  color: red; // Cor do texto vermelho para indicar erro
  font-size: 12px; // Tamanho da fonte da mensagem de erro
  margin-top: 2px;// Espaçamento superior para separar a mensagem do campo de entrada
}

.Rotulo {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19%;
  margin-top: 20px;
  width: 100%; /* Torna o rótulo tão largo quanto o contêiner pai */
}

.Titulo {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 100%; 
}
.LogoHotel {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.LogoHotel img {
  max-width: 400px; /* Defina a largura máxima desejada */
  height: auto; /* Mantém a proporção original da imagem */
}

.Logo {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 20px 0; /* Espaçamento superior e inferior */
}

.Logo img {
  max-width: 100px; /* Tamanho máximo para dispositivos pequenos */
  height: auto; /* Mantém a proporção da imagem */
}

@media (min-width: 768px) {
  .Logo img {
    max-width: 250px; /* Aumenta o tamanho da logo em tablets */
  }
}

/* Ajuste para desktops */
@media (min-width: 1024px) {
  .Logo img {
    max-width: 400px; /* Aumenta o tamanho da logo em desktops */
  }
}
